/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    background:  black;

}

.wrap{
    width: 1296px;
    font-family: Bruno Ace SC,-apple-system, BlinkMacSystemFont ;
    margin: 0 auto;
}

a{
   text-decoration: none;
}


.header{
    margin:auto;
    background-color: black;
    align-items: center;

}


.nav ul{
    display: flex;
    justify-content:space-around;  
}

.nav3{
    width: 278.5px;
}

.nav a{
    display: block;
    color: white;
    padding: 52px 0px;
    
}
.d-flex{
    display: flex;
}

.banner{
    font-size: 64px;
   
    align-items: center;
}


.pic {
    padding-top: 72px;
    margin: 0 auto;
}

.text{
    width: 636px;
    color: white;
    line-height: 96px;
    margin-left:24px;  
    margin-left: auto;
}

text ul{
    display:flex;
    list-style: none;
}

.name{
    color:  #00FFA3;
    font-size: 128px;
    line-height: 192px;
    text-align: right;
}

.contactme{
    display: flex;
    background: white; 
    width: 185px;
    font-size: 16px;
    line-height: 24px;
    border-radius:10px;
    margin-left: auto;
    
}

.contactme a{
    display: block;
    color: black;
    margin:0 auto;
    height: 48px;
    line-height: 48px;
    text-align: center;
}

.contactme a:hover{
    background: black;
    color: #00FFA3;
    margin:0 auto;
    height: 48px;
    width: 185px;
    line-height: 48px;
    text-align: center;
}

.middle{
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true");
    background-size: cover ;
    background-repeat: no-repeat;
}

.midleft li{
  font-size: 24px;
  color: white;
  line-height: 36px;
  margin-bottom: 32px;
}

.middle .wrap{
    padding: 160px 0px;
}

.midleft .midtitle{
    font-size: 64px;
    line-height: 96px;
    margin-bottom: 36px;
}

.midright img{
    height: 600px;
    margin-left:24px;
}

.aboutme{
    display: flex;
    background: white;
    height: 740px;
    
}

.aboutme .continer{
    justify-content: space-around;
    align-items: center;
}

*{
    box-sizing: border-box;
}

.column{
    width: 50%;
    flex-wrap: wrap;
}

.card{
    width: 45%;
    margin-right: 24px;
    margin-bottom: 24px;
    padding: 16px;
    border: 1px solid #E3E3E3;


}
.aboutme .text{
    color: black;
    font-size: 24px;
  line-height: 36px;
  width: 526px;
  
}

.text .title{
    color: black;
    font-size:64px;
    line-height: 96px;
}

.card li{
    font-size: 16px;
    line-height: 24px;
    color: #15161D;
}

.card .detail{
    font-size: 20px;
    line-height: 30px;
}

.contact .wrap{
    justify-content: space-around;
    align-items: center;
    
}


.sns ul{
    display: flex;
}

.contact h3{
    color: white;
    font-size: 64px;
    line-height: 96px;
    margin-right: 16px;
}


.sns{
    margin: 96px 0px;
}

.ins{
    margin: 0px 20px;
}

.sns img:hover{
    transform:scale(1.2,1.2);
}

.myproject {
    background: white;
    height: 962px;
}

.myproject .wrap{
    padding-top: 160px;
    
    
}

.myproject .largetext{
    display: flex;
    font-size: 64px;
    line-height: 96px;
    flex-direction: row-reverse;
    margin-right: 346px;
    margin-bottom: 16px;
}

.myproject .continer{
    align-items: center;
    justify-content: center;
   
}

.right {
    width: 70%;
    
}

.top{
    justify-content: space-around;
    margin-bottom: 28px;
}

.seemore{
    display: flex;
    width: 636px;
    flex-direction: column;
    
    
}

.bottom{
    display: flex;
    background: black;
    margin-top: auto;
    border-radius:10px;
    width:160px;
    padding: 12px;
}

.seemore a{
    font-size: 16px;
    line-height: 24px;
    color: white;
}

.right .under{
    justify-content: space-around;
    align-items: baseline;

}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
}


.footer p{
    color:white;
    font-size: 16px;
    line-height: 24px;
    margin: 40px 0px;
}



