/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    background:  black;

}

.wrap{
    width: 1296px;
    font-family: Bruno Ace SC,-apple-system, BlinkMacSystemFont ;
    margin: 0 auto;
}

a{
   text-decoration: none;
}


.header{
    margin:auto;
    background-color: black;
    align-items: center;

}


.nav ul{
    display: flex;
    justify-content:space-around;  
}

.nav3{
    width: 278.5px;
}

.nav a{
    display: block;
    color: white;
    padding: 52px 0px;
    
}
.d-flex{
    display: flex;
}

.banner{
    font-size: 64px;
   
    align-items: center;
}


.pic {
    padding-top: 72px;
    margin: 0 auto;
}

.text{
    width: 636px;
    color: white;
    line-height: 96px;
    margin-left:24px;  
    margin-left: auto;
}

text ul{
    display:flex;
    list-style: none;
}

.name{
    color:  #00FFA3;
    font-size: 128px;
    line-height: 192px;
    text-align: right;
}

.contactme{
    display: flex;
    background: white; 
    width: 185px;
    font-size: 16px;
    line-height: 24px;
    border-radius:10px;
    margin-left: auto;
    
}

.contactme a{
    display: block;
    color: black;
    padding: 12px 0px;
    
    
}

