<div class="wrap"> 
    <div class="header">
        <div class="column">
            <a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true" alt="logo"></a>
        <div class="nav">
            <ol  class="d-flex">
                <li><a href="#">系列框架</a></li>
                <li><a href="#">門市據點</a></li>
                <li><a href="#">部落格</a></li>
                <li><a href="#">常見問題</a></li>
            </ol>
        </div>

        </div>
        
    </div>
</div>