.footer{
  margin-top:60px;
}

.footer .d-flex{
  justify-content: space-between;
}

.footer_nav{
  font-size: 16px;
  margin-left: -24px;
}


.left li{
  padding: 0px 24px;
}

.right{
  width: 20%;
}

.right a{
  display: block;
}

.padding32{
  padding: 0px 32px;
}


.footer .conact{
  font-size: 36px;
  border-bottom: 1px solid #ffffff;
  padding: 32px 0px;
}

.conact .material-symbols-outlined{
  font-size: 36px;
  margin-right: 22px;
}

.copyright{
  font-size: 16px;
  padding: 32px 0px;
  justify-content: space-between;
  align-items: center;
}

.copyright ul{
  width: 20%;
  justify-content: space-between;
}


@media screen and (max-width: 767px){
  .footer{
      padding: 0 10px;
      margin-top: 24px;
  }

  .footer_nav .left{
      display: none;
  }
  .padding32{
      padding: 0px 8px;
  }

  .footer .conact{
      font-size: 16px;
      margin-left: 24px;
      margin-top: -32px;
  }

  .conact .material-symbols-outlined{
      font-size: 16px;
  }

  .copyright{
      display: block;
  }

  .copyright ul{
      display: block;
  }

  .copyright ul li{
      padding-top: 8px;
  }